Rails.application.configure do
  # Settings specified here will take precedence over those in config/application.rb.

  # In the development environment your application's code is reloaded on
  # every request. This slows down response time but is perfect for development
  # since you don't have to restart the web server when you make code changes.
  config.cache_classes = false

  # Do not eager load code on boot.
  config.eager_load = false

  # Show full error reports and disable caching.
  config.consider_all_requests_local       = true
  config.action_controller.perform_caching = false

  # mailer unnecessary in API-only Rails implementation
  # config.action_mailer.raise_delivery_errors = false

  # Print deprecation notices to the Rails logger.
  config.active_support.deprecation = :log

  # Raise an error on page load if there are pending migrations.
  config.active_record.migration_error = :page_load


  # Raises error for missing translations
  # config.action_view.raise_on_missing_translations = true

  # Set environment secrets
  ENV['ORIGIN'] = 'http://localhost:8080'
  ENV['OAUTH_CALLBACK'] = 'http://127.0.0.1:3000/access_token'
  ENV['SECRET_KEY_BASE'] = 'put keybase here'
  ENV['TWITTER_CONSUMER_KEY'] = 'put twitter consumer key here'
  ENV['TWITTER_CONSUMER_SECRET'] = 'put twitter consumer secret here'
  ENV['API_KEY'] = 'put marvel api key here'
  ENV['PRIV_KEY'] = 'put marvel priv key here'
end
